* {
    margin: 0;
    padding: 0;
    font-size: 100%;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Arial Black", sans-serif;
    color: #fff;
    background: #b71d22;
}
h1 {
    font-size: 32px;
    color: #f2f484;
    content: "";
    display: block;
    height: 70px;
    line-height: 100px;
}
h2 {
    font-size: 1.5em;
}
.subH {
    font-family: "Hiragino Kaku Gothic Std";
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: 100;
    font-size: 19px;
}
.pointSystemPic {
    margin: 30px auto;
}
.link {
    padding-top: 100px;
    margin-top: 100px;
}
#container {
    width: 100vw;
    background: #b71d22;
    position: relative;
    margin: auto;
    text-align: center;
}
#header {
    border: 1px solid #fff;
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    height: 0px;
    margin: 0 auto;
}
#headerImg img {
    width: 100%;
    height: 128px;
}
#headerText {
    display: flex;
    list-style-type: none;
    position: absolute;
    right: 110px;
    top: 46px;
}
#headerText li a:link,
#headerText li a:visited {
    text-decoration: none;
    color: #fff;
}
#headerText li .top {
    border-left: 1px solid #fff;
    display: block;
    margin-left: 10px;
}
#headerText li {
    font-size: 13pt;
    width: 120px;
}
#AppTicket img {
    position: absolute;
    left: 20px;
    top: 10px;
}
#fixed_right img {
    pointer-events: none;
    z-index: 1;
    float: right;
    margin: 130px 0 auto;
    width: 350px;
    height: auto;
}
#fixed_left img {
    pointer-events: none;
    z-index: 1;
    float: left;
    margin: 200px 0 auto;
    width: 350px;
    height: auto;
}
#mainVisual img {
    width: 100%;
    height: 100%;
    text-align: center;
}
#AppInfo img {
    margin-top: 80px;
}
#CardListWrap {
    margin: 0 auto;
    display: block;
    width: 1000px;
}
.CardList {
    display: grid;
    margin: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px 17px;
}
.CardList li {
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    border-radius: 10px;
    display: block;
    padding: 22px;
    box-sizing: border-box;
    border: solid 3px #fff;
    color: #fff;
}
.CardListT {
    color: #f2f484;
}
#AppInstall {
    display: block;
    margin: 30px auto;
    text-align: center;
}
#AppGuidanceWrap {
    margin: 0 auto;
    display: block;
    width: 800px;
}
#AppGuidance {
    margin-top: 150px;
    text-align: center;
}
#AppGuidance ol {
    line-height: 40px;
    color: #f2f484;
    font-size: 24px;
    text-align: left;
    list-style-type: decimal;
}
#AppGuidance li {
    margin-top: 100px;
}
#AppGuidance li span {
    font-family: "Hiragino Kaku Gothic Std";
    color: #fff;
}
#AppGuidance ol li::marker {
    font-size: 35px;
}
#AppGuidance li .arrow {
    margin-top: 25px;
    display: block;
    text-align: center;
    font-size: 20px;
}
.pointButton {
    display: block;
    margin: 0 auto;
}
.pointButton a {
    font-family: "Hiragino Kaku Gothic Std";
    font-size: 20px;
    text-align: center;
    background-color: #f2f484;
    border-radius: 100px;
    display: block;
    width: 400px;
    padding: 15px;
    box-sizing: border-box;
    border: solid 3px #f2f484;
    color: #b71d22;
    text-decoration: none;
    margin: 100px auto 200px auto;
    transition: 0.7s;
}
.pointButton a:hover {
    display: block;
    background: #b71d22;
    color: #fff;
}
#pointSystemWrap {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.pointSystem {
    font-size: 20px;
    line-height: 35px;
}
.pointSystem h1 {
    margin-top: 100px;
}
.pointSystem span {
    color: #f2f484;
}
.chunk {
    margin-top: 100px;
}
.chunk .chunkWH {
    font-size: 20px;
    color: #fff;
}
.chunk span {
    color: #f2f484;
    font-size: 20px;
    line-height: 40px;
}
.chunk .h1WH {
    font-size: 32px;
    color: #fff;
}
.chunk .emphasisText {
    color: #f2f484;
    font-size: 30px;
    font-weight: 600;
    border-bottom: solid#fff;
    line-height: 100px;
}
.topicsButton {
    max-width: 300px;
    margin: 60px auto;
}
.topicsButton a {
    text-align: center;
    font-family: "Hiragino Kaku Gothic Std";
    border-radius: 100px;
    display: block;
    width: 200px;
    padding: 15px;
    box-sizing: border-box;
    border: solid 2.5px #fff;
    outline: solid 1px #fff;
    outline-offset: 10px;
    color: #fff;
    text-decoration: none;
    margin: 100px auto 200px auto;
    transition: 0.7s;
}
.topicsButton a:hover {
    display: block;
    background: #fff;
    color: #b71d22;
}
#footerImg {
    margin: 150px auto -110px auto;
    width: 200px;
    height: 200px;
}
#footerImg img {
    width: auto;
    height: 150px;
}
#footer {
    width: 100%;
    height: 180px;
    position: relative;
    margin-top: 3em;
    padding: 4em 0;
    text-align: center;
    font-size: 0.8rem;
    color: #b71d22;
    background: #fff;
}
#footerText {
    width: 550px;
    height: 100px;
    display: flex;
    list-style-type: none;
    padding: 0 550px;
}
#footerText li a:link,
#footerText li a:visited {
    text-decoration: none;
    color: #b71d22;
}
#footerText li {
    margin: 30px auto 80px auto;
    font-size: 16px;
    width: 120px;
}
#copy {
    font-family: "Inter";
}
