* {
    margin: 0;
    padding: 0;
    font-size: 100%;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Arial Black", sans-serif;
    color: #fff;
    background: #b71d22;
}
h1 {
    font-size: 32px;
    color: #f2f484;
    content: "";
    display: block;
    height: 70px;
}
h2 {
    font-size: 1.5em;
}
.link {
    padding-top: 100px;
    margin-top: 100px;
}
#container {
    width: 100vw;
    background: #b71d22;
    position: relative;
    margin: auto;
    text-align: center;
}
#header {
    border: 1px solid #fff;
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    height: 0px;
    margin: 0 auto;
}
.headerText {
    display: flex;
    list-style-type: none;
    position: absolute;
    right: 110px;
    top: 46px;
}
.headerText li a:link,
.headerText li a:visited {
    text-decoration: none;
    color: #fff;
}
.headerText li .app {
    border-left: 1px solid #fff;
    display: block;
    margin-left: 10px;
}
.headerText li {
    font-size: 13pt;
    width: 120px;
}
.AppTicket img {
    position: absolute;
    left: 20px;
    top: 30px;
}
.AppTicket .AppTicket_hover img:last-of-type {
    opacity: 0;
    left: 21.9px;
    transition: opacity 0.7s;
}
.AppTicket .AppTicket_hover:hover img {
    opacity: 1;
}
.right_fixedDecoration img {
    pointer-events: none;
    z-index: 1;
    float: right;
    margin: 130px 0 auto;
    width: 350px;
    height: auto;
}
.left_fixedDecoration img {
    pointer-events: none;
    z-index: 1;
    float: left;
    margin: 200px 0 auto;
    width: 350px;
    height: auto;
}
.mainVisual img {
    width: 100%;
    height: 100%;
    text-align: center;
}
#main {
    background-image: url(images/backB.png);
    background-repeat: no-repeat;
    background-position: center 400px;
    background-size: 100%;
}
.conceptVisual img {
    width: 100%;
    text-align: center;
    margin-bottom: -200px;
}
.mainTitle {
    color: #f2f484;
    font-family: "Hiragino Kaku Gothic Std";
    font-size: 26px;
    font-style: normal;
    line-height: 250px;
    border-bottom: 1.5px solid #fff;
    padding: 0 20px 8px 40px;
}
.mainTitleText {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 200px;
}
.OldClothesStore p img {
    display: block;
    margin: -100px auto;
    width: 650px;
}
.nav {
    margin-bottom: 200px;
}
h1 {
    margin: 100px 0 6px 0;
}
.subH {
    margin-top: -20px;
    margin-bottom: 90px;
}
#concept {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(images/conceptDeco.png);
    background-position: center 300px;
    background-repeat: no-repeat;
}
.conceptTitle {
    color: #fff;
    font-family: "Hiragino Kaku Gothic Std";
    font-size: 26px;
    font-style: normal;
    line-height: 90px;
    border-bottom: 1.5px solid #fff;
    padding: 0 20px 8px 40px;
}
.conceptText {
    font-size: 22px;
    line-height: 37px;
    margin: 40px;
}
.conceptText span {
    font-weight: 800;
    color: #f2f484;
}
#menu {
    padding-top: 300px;
    margin-top: -100px;
}
.menuButton {
    position: relative;
}
.menuButton img {
    width: 600px;
    height: 300px;
    margin: 0 auto;
}
.menuButton .menuButton_hover img:last-of-type {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.7s;
}
.menuButton .menuButton_hover:hover img {
    opacity: 1;
}
.backgroundDecoration {
    background-image: url(images/backB_2.png);
    background-repeat: no-repeat;
    background-position: center 350px;
    background-size: 100%;
}
.topicsText li a:link,
.topicsText li a:visited {
    font-family: "Hiragino Kaku Gothic Std";
    font-size: 20px;
    line-height: 100px;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 0 300px 40px 40px;
}
.topicsButton {
    max-width: 300px;
    margin: 60px auto;
}
.topicsButton a {
    font-family: "Hiragino Kaku Gothic Std";
    border-radius: 100px;
    display: block;
    width: 200px;
    padding: 15px;
    box-sizing: border-box;
    border: solid 2.5px #fff;
    outline: solid 1px #fff;
    outline-offset: 10px;
    color: #fff;
    text-decoration: none;
    margin: 10px auto 200px auto;
    transition: 0.7s;
}
.topicsButton a:hover {
    display: block;
    background: #fff;
    color: #b71d22;
}
#access {
    display: flex;
    text-align: left;
    margin: 0 auto 100px auto;
    width: 690px;
    height: 174px;
}
.accessImg {
    width: 283px;
    height: 100%;
}
.accessText {
    font-family: "Hiragino Kaku Gothic Std";
    margin: 0 20px;
}
.accessText a {
    color: #fff;
}
.accessText a:hover {
    background-color: #fff;
    color: #b71d22;
}
#map iframe {
    width: 100%;
    text-align: center;
}
#footerImg {
    margin: 150px auto -110px auto;
    width: 200px;
    height: 200px;
}
#footerImg img {
    width: auto;
    height: 150px;
}
#footer {
    width: 100%;
    height: 180px;
    position: relative;
    margin-top: 3em;
    padding: 4em 0;
    text-align: center;
    font-size: 0.8rem;
    color: #b71d22;
    background: #fff;
}
#footerText {
    width: 550px;
    height: 100px;
    display: flex;
    list-style-type: none;
    padding: 0 550px;
}
#footerText li a:link,
#footerText li a:visited {
    text-decoration: none;
    color: #b71d22;
}
#footerText li {
    margin: 30px auto 80px auto;
    font-size: 16px;
    width: 120px;
}
#copy {
    font-family: "Inter";
}
